* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background: #1a1a1a;
    color: #f0f0f0;
  }
   
  .welcomebox {
    color: #53CBFB;
    text-align: center;
    padding: 100px 20px;
  }
  
  .welcomebox h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #53CBFB;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  .info-category {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 1.2em;
    border: 2px solid #444;
    opacity: 0;
    transform: translateY(100%);
    animation: slideInUp 1s forwards;
  }
  
  .info-category h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #53CBFB;
  }
  
  .info-category p {
    font-size: 1em;
    line-height: 1.5;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  